@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
  background-image: url('https://source.unsplash.com/PC91Jm1DlWA');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Comfortaa', cursive;
  color : white !important;
}

section{
  background: #b8b4b038 !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(17px)  !important;
  -webkit-backdrop-filter: blur(15.4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

input{
  background-color: transparent;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  letter-spacing: 1px;
  font-size: 2.3em;
  line-height: 60px;
  padding-bottom: 48px;
  color: transparent;
  -webkit-text-stroke: #ffff 0.5px;
  text-shadow: #000000 2px 1px 2px;
  font-family: 'DM Serif Display', serif !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label{
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.gender-label, .btn {
  font-size: 18px !important;
}

.contact-form .submit-btn {
  display: inline-block;
  color: #fff; 
  border-radius: 10px !important;
  background: linear-gradient(145deg, #ffffff, #e6e6e6) !important;
  box-shadow:  inset 2px 2px 0px #d9d9d9,
             inset -2px -2px 0px #ffffff !important;
  width: 300px !important;
  font-family: 'Comfortaa', cursive !important;
  font-size: 20px !important;
  letter-spacing: 2px;
  color: black;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}



